version: '3.8'

# Define services backend + frontend
services:
  # App backend service
  app-server:
    # Configuration for building the docker image for the backend service
    image: {{ imageServer }}
    container_name: app-server
    ports:
      - "8081:8081" # Forward the exposed port 8081 on the container to port 8081 on the host machine
    restart: always
    command: --spring.config.location=file:/etc/application.properties
    networks: # Networks to join (Services on the same network can communicate with each other using their name)
      - backend
      - frontend
    volumes:
      - /naqa/etc/application.properties:/etc/application.properties

  # Frontend Service 
  app-client:
    image: {{ imageClient }}
    container_name: app-client
    ports:
      - "3000:80" # Map the exposed port 80 on the container to port 3000 on the host machine
    restart: always
    depends_on:
      - app-server
    networks:
      - frontend  

networks:
  backend:
  frontend: